<div class="footer py-12 text-center">
  <div class="container mx-auto flex items-center justify-between">
    <div class="flex gap-6">
      <a href="https://github.com/alexburykin" target="_blank" rel="noopener"><img src="/images/icons/Github.svg"
          alt="Github"></a>
      <a href="https://roadmap.sh/u/alexburykin" target="_blank" rel="noopener"><img src="/images/icons/Roadmap.svg"
          alt="Roadmap"></a>
      <a href="https://www.credly.com/users/alexburykin" target="_blank" rel="noopener"><img
          src="/images/icons/Credly.svg" alt="Credly"></a>
    </div>
    <div class="font-jost text-gray-600 text-sm dark:text-gray-300">
      © Copyright 2024 Alex Burykin. <br>
      All rights reserved | <a href="/privacy-policy">Privacy Policy</a>
    </div>
    <div class="flex gap-6">
      <a href="https://linkedin.com/in/alexburykin" target="_blank" rel="noopener"><img src="/images/icons/Linkedin.svg"
          alt="Linkedin"></a>
      <a href="https://www.upwork.com/freelancers/~010094d0b0616a0c30" target="_blank" rel="noopener"><img
          src="/images/icons/Upwork.svg" alt="Upwork"></a>
      <a href="https://twitter.com/burykindev" target="_blank" rel="noopener"><img src="/images/icons/Twitter.svg"
          alt="Twitter"></a>
    </div>
  </div>
</div>